<div class="row">
    <div class="span12">
       
            <div class="row">
                <div class="span6">
                
               <p>Personal Heatmap was built by <a href="http://mehanjayasuriya.com/">Mehan Jayasuriya</a> using <a href="http://nodejs.org/">NodeJS</a>, <a href="http://expressjs.com/">Express</a>, <a href="http://www.patrick-wied.at/static/heatmapjs/">heatmap.js</a>, HTML5, Canvas, JavaScript, <a href="https://github.com/ciaranj/node-oauth">Node Oauth</a>, the <a href="https://developers.google.com/maps/documentation/javascript/">Google Maps JavaScript API</a> and the <a href="https://openpaths.cc/">Open Paths API</a>. Inspired, in part, by <a href="http://www.wheredoyougo.net/">Where Do You Go</a>.</p>
<p>Personal Heatmap was developed in <a href="http://www.base2john.com/">John Schimmel's</a> Spring 2012 <a href="http://itpwebclass.herokuapp.com/">Dynamic Web</a> class at <a href="http://itp.nyu.edu/itp/">NYU ITP</a>. Many thanks to John for all of his help with the project.
</p>
<p>If you'd like to view or fork the source code of this project, head over to <a href="https://github.com/mehan/open-paths-heatmap">GitHub</a>.
</p>
<p>Personal Heatmap is in no way affiliated with OpenPaths or the New York Times Company.</p>
</br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a></br></br><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Personal Heatmap</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="mehanjayasuriya.com" property="cc:attributionName" rel="cc:attributionURL">Mehan Jayasuriya</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.
                </br></br>
                <a href="/">Go back</a>
            </div>
            </div>   
            
          
            
            <div class="row">
                <div class="offset4 span4">
                    <br/><br/>
                
                    
                </div>
            </div>

        </form>
    </div>
</div>