<div class="row">
    <div class="span12">
        <form method="GET" action="/map">
    
            <div class="row">
                <div class="span6">
                <img src="/img/heatmap.png">
                </br>
                </br>
                <p>Personal Heatmap Heatmap allows you to generate an interactive <a href="http://en.wikipedia.org/wiki/Heat_map">heatmap</a> of your personal location data, using <a href="https://openpaths.cc/">OpenPaths</a>, Google Maps and <a href="http://www.patrick-wied.at/static/heatmapjs/">heatmap.js</a>. To generate a heatmap using your last 100 OpenPaths location points, log in using your OpenPaths credentials below.</p>
                </br>
                    <label for="line1"><strong>Your OpenPaths access key:</strong></label>
                    <input type="text" name="line1" id="from" size="40">
                    
                    <label for="line2"><strong>Your OpenPaths secret key:</strong></label>
                    <input type="text" name="line2" id="from" size="40">
                    </br>
                    </br>
                    <input type="submit" class="span3 btn-info" value="View your map!" />
                    <p><a href="/help">I don't know where to find my key and secret!</a></p>
                    <p>Personal Heatmap is in no way affiliated with Open Paths or the New York Times Company.</p>
               </div>
                <div class="span4 offset1">
                <p></p>
                </br>
                   
                </div>
            </div>   
            
          
            
            <div class="row">
                <div class="offset4 span4">
                    <br/><br/>
                
                    
                </div>
            </div>

        </form>
    </div>
</div>