<div class="row">
    <div class="span12">
       
            <div class="row">
                <div class="span6">
                <p><strong>I don't know where to find my OpenPaths access key and secret key!</strong></p>
                <p>Log into your OpenPaths account, click on the "My Data" button in the top right corner of the screen and copy the "Access Key" and "Secret Key" that appear in the box marked "OpenPaths API".
                </br>
                </br>
                <img src="../img/help.jpg" width="700" height=358>
                </br>
                </br>
                <a href="/">Go back</a>
            </div>
            </div>   
            
          
            
            <div class="row">
                <div class="offset4 span4">
                    <br/><br/>
                
                    
                </div>
            </div>

        </form>
    </div>
</div>